/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*JK CSS*/

.test {
  background: rgba(255, 0, 0, .1);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body {
  color: #444444;
}

p {
  text-indent: 2.0em;
  font-family: ;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.masthead {
  background: url(border.png) repeat-x bottom;
  padding: 30px 0;
  padding-bottom: 40px;
  width: 960px;
}

.logo {
  display: block;
  float: left;
  margin-right: 7px;
}

.social-icons {
  display: inline;
  float: right;
  margin: 0 auto;
  padding-top: 12px;
}

.social-icons li {
  display: inline-block;
  list-style: none;
  float: left;
  margin-left: 2px;
}

.social-icons li:nth-child(7) {
  margin-left: 10px;
}

.delicious {
  font-family: 'Yellowtail', cursive;;
  font-size: 38px;
  display: block;
  float: left;
}

.best {
  font-family: 'Abel', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  float: left;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  font-size: 38px;
  padding-top: 30px;
}

.subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.print-text {
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  float: right;
  margin: 0 auto;
  padding: 0;
}

.blog-photo {
  width: 100%;
  height: auto;
}

.list {
  width: 100%;
  height: auto;
}

.recipe {
  background-image: 'file:///Users/jkoehnke/Downloads/challenge/list-bg.png';
}

.author-photo {
  float: left;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.author {
  background: url(border.png) repeat-x top;
  display: block;
  float: left;
  margin-right: 7px;
  padding-top: 40px;
  width: 960px;
}

.author-text {
  display: block;
  float: left;
  font-size:
}

.share-recipe {
  display: inline;
  width: 30%;
  height: 55px;
  float: right;
  background-color: #bb7056;
  font-family: 'Abel';
  font-size: 1.25rem;
  color: white;
  line-height: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.footer {
  clear: both;
  border-top: 1px solid #eee;
  text-align: center;
  padding: 35px 0 60px 0;
  font-size: 0.85rem;
  line-height: 1.4rem;
  color: #bbb;
}

.small-logo {
  margin-top: 18px;
  padding: 0 5px 0 5px;
  border-top: 1px solid gray;
}
